PORT=3000
MONGODB_USER=yourMongoUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=your-cluster.mongodb.net
MONGODB_DB=yourDatabaseName

SMTP_PASSWORD= # SMTP password or Brevo API key
SMTP_HOST= # SMTP server host (for Brevo)
SMTP_PORT= # SMTP port
SMTP_USER= # Email provided by Brevo
SMTP_FROM= # Email that users will see as "from"
JWT_SECRET= # Secret key for signing JWT tokens
APP_DOMAIN= # Your app domain

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

UPLOAD_TO_CLOUDINARY=